{% extends 'base.html' %}

{%- macro index_style() -%}
    {% if page == 'index' %}
        {{ 'left:0; top: 0;' }}
    {% elif page == 'about' %}
        {{ 'left: -100vw; top: -100vh;' }}
    {% elif page == 'projects' %}
        {{ 'left: 100vw; top: -100vh;' }}
    {% endif %}
{%- endmacro -%}
{%- macro about_style() -%}
    {% if page == 'about' %}
        {{ 'left: 0; top: 0;' }}
    {% else %}
        {{ 'left: 100vw; top: 100vh;' }}
    {% endif %}
{%- endmacro -%}
{%- macro projects_style() -%}
    {% if page == 'projects' %}
        {{ 'left: 0; top: 0;' }}
    {% else %}
        {{ 'left: -100vw; top: 100vh;' }}
    {% endif %}
{%- endmacro -%}

{% block content %}
    <div class="page">
        <div class="page-bg" id="page-bg"></div>
        <div class="section-index" style="{{ index_style() }}">
            <div class="section-index-inner" style="{{ 'display: none;' if page != 'index' }}">
                <h1 class="h0">vanutp</h1>
                <div class="menu">
                    <div class="menu-item">
                        <div class="contacts">
                            <a href="tg://resolve?domain=vanutp" class="btn-contact anim-item icon" aria-label="Telegram">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z"/>
                                </svg>
                            </a>
                            <a href="https://github.com/Ivan1874" class="btn-contact anim-item icon" aria-label="Github">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 512">
                                    <path d="M186.1 328.7c0 20.9-10.9 55.1-36.7 55.1s-36.7-34.2-36.7-55.1 10.9-55.1 36.7-55.1 36.7 34.2 36.7 55.1zM480 278.2c0 31.9-3.2 65.7-17.5 95-37.9 76.6-142.1 74.8-216.7 74.8-75.8 0-186.2 2.7-225.6-74.8-14.6-29-20.2-63.1-20.2-95 0-41.9 13.9-81.5 41.5-113.6-5.2-15.8-7.7-32.4-7.7-48.8 0-21.5 4.9-32.3 14.6-51.8 45.3 0 74.3 9 108.8 36 29-6.9 58.8-10 88.7-10 27 0 54.2 2.9 80.4 9.2 34-26.7 63-35.2 107.8-35.2 9.8 19.5 14.6 30.3 14.6 51.8 0 16.4-2.6 32.7-7.7 48.2 27.5 32.4 39 72.3 39 114.2zm-64.3 50.5c0-43.9-26.7-82.6-73.5-82.6-18.9 0-37 3.4-56 6-14.9 2.3-29.8 3.2-45.1 3.2-15.2 0-30.1-.9-45.1-3.2-18.7-2.6-37-6-56-6-46.8 0-73.5 38.7-73.5 82.6 0 87.8 80.4 101.3 150.4 101.3h48.2c70.3 0 150.6-13.4 150.6-101.3zm-82.6-55.1c-25.8 0-36.7 34.2-36.7 55.1s10.9 55.1 36.7 55.1 36.7-34.2 36.7-55.1-10.9-55.1-36.7-55.1z"/>
                                </svg>
                            </a>
                            <a href="https://git.ivan1874.cf" class="btn-contact anim-item icon"aria-label="Gitea">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                    <path d="M384 144c0-44.2-35.8-80-80-80s-80 35.8-80 80c0 36.4 24.3 67.1 57.5 76.8-.6 16.1-4.2 28.5-11 36.9-15.4 19.2-49.3 22.4-85.2 25.7-28.2 2.6-57.4 5.4-81.3 16.9v-144c32.5-10.2 56-40.5 56-76.3 0-44.2-35.8-80-80-80S0 35.8 0 80c0 35.8 23.5 66.1 56 76.3v199.3C23.5 365.9 0 396.2 0 432c0 44.2 35.8 80 80 80s80-35.8 80-80c0-34-21.2-63.1-51.2-74.6 3.1-5.2 7.8-9.8 14.9-13.4 16.2-8.2 40.4-10.4 66.1-12.8 42.2-3.9 90-8.4 118.2-43.4 14-17.4 21.1-39.8 21.6-67.9 31.6-10.8 54.4-40.7 54.4-75.9zM80 64c8.8 0 16 7.2 16 16s-7.2 16-16 16-16-7.2-16-16 7.2-16 16-16zm0 384c-8.8 0-16-7.2-16-16s7.2-16 16-16 16 7.2 16 16-7.2 16-16 16zm224-320c8.8 0 16 7.2 16 16s-7.2 16-16 16-16-7.2-16-16 7.2-16 16-16z"/>
                                </svg>
                            </a>
                            <a href="https://gitlab.com/Ivan1874" class="btn-contact anim-item icon"aria-label="Gitlab">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M105.2 24.9c-3.1-8.9-15.7-8.9-18.9 0L29.8 199.7h132c-.1 0-56.6-174.8-56.6-174.8zM.9 287.7c-2.6 8 .3 16.9 7.1 22l247.9 184-226.2-294zm160.8-88l94.3 294 94.3-294zm349.4 88l-28.8-88-226.3 294 247.9-184c6.9-5.1 9.7-14 7.2-22zM425.7 24.9c-3.1-8.9-15.7-8.9-18.9 0l-56.6 174.8h132z"/>
                                </svg>
                            </a>
                            <a href="https://vk.com/vanutp" class="btn-contact anim-item icon" aria-label="Vkontakte">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                    <path d="M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="menu-item anim-item">
                        <button type="button" class="btn-about">Обо мне</button>
                    </div>
                    <div class="menu-item anim-item">
                        <button type="button" class="btn-projects">Проекты</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-about" style="{{ about_style() }}">
            <div class="section-about-inner container" style="{{ 'display: none;' if page != 'about' }}">
                <button type="button" class="btn-back left icon" aria-label="Go back">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"/>
                    </svg>
                </button>
                <h1>Обо мне:</h1>
                <p>14 лет, программист, <span style="text-decoration: line-through;">дизайнер</span></p>
                <p>Мои никнеймы: Ivan1874, TheGatekeeper, vanutp, fox</p>
                <p>Живу в Москве</p>
                <p>Знаю Python, html/css/js, Delphi (ну во всяком случае когда-то знал). Плохо знаю Java/Kotlin, C#,
                    Smali</p>
                <p>Программирую в IDE от JetBrains</p>
                <p>За последнюю неделю {{ code_stats }} (данные динамичны, обновляются каждый день в 00:00 🙂)</p>
                <p>(данные выше некорректны до 03.07, потому что я это только что поставил 🙃)</p>
            </div>
        </div>
        <div class="section-projects" style="{{ projects_style() }}">
            <div class="section-projects-inner container" style="{{ 'display: none;' if page != 'projects' }}">
                <button type="button" class="btn-back right icon" aria-label="Go back">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"/>
                    </svg>
                </button>
                <h1>Проекты</h1>
                <ul>
                    <li><a href="tg://resolve?domain=findnewbot">FindNewBot</a> - поисковик ботов (Telegram)</li>
                    <li><a href="tg://resolve?domain=Ivan1874PokeBot">Poke Bot</a> (<a
                            href="https://github.com/Ivan1874/PokemonRecognizerBot">код</a>) - нейросеть, распознающая
                        покемонов (Telegram)
                    </li>
                    <li><a href="tg://resolve?domain=short_ubot">Short uBot</a> (<a
                            href="https://s.ivan1874.cf">сайт</a> (пока не готов)) - сокращатель ссылок (Telegram)
                    </li>
                    <li>Юзербот для Telegram с полезными функциями. Пока нет в общем доступе</li>
                    <li><a href="https://progtime.net">Progtime</a> - тестирующая/обучающая система</li>
                    <li><a href="https://mes.ivan1874.cf">Система обучения математике</a> - система обучения математике
                    </li>
                    <li><a href="https://gitlab.com/ivan1874/vanutpdev">Этот сайт</a> - ¯\_(ツ)_/¯</li>
                </ul>
                <p class="btn-abandoned link">Замороженые/заброшеные/хакатоны</p>
                <div class="abandoned collapse">
                    <ul class="abandoned-inner">
                        <li><a href="https://github.com/Ivan1874/CCG">CCG</a> - шелл для Windows</li>
                        <li><a href="https://github.com/AcaplaStd/Paperfeed">Paperfeed</a> - фид для Telegram (как в вк)
                        </li>
                        <li><a href="https://github.com/AcaplaStd/GlassMind">GlassMind</a> - социальная сеть чтобы
                            делиться
                            нейросетями
                        </li>
                        <li><a href="https://github.com/Ivan1874/TheMessengerProject">Мессенджер</a> - хз что это</li>
                        <li><a href="https://github.com/Ivan1874/GTC_UltraSans">хакатон GoTo лета 2019</a> - бот для
                            создания групп учащихся, получения обратной связи и задачи вопросов
                        </li>
                        <li><a href="https://github.com/Ivan1874/GoToHack_20">1 хакатон GoTo зимы 2020</a> - игра, где
                            надо
                            запрограммировать своего бота, чтобы он закрасил как можно больше клеток
                        </li>
                        <li><a href="https://github.com/Ivan1874/GoToHack_20_2">2 хакатон GoTo зимы 2020</a> - можно я
                            не
                            буду говорить что это, да?
                        </li>
                        <li><a href="https://github.com/Ivan1874/OfflineMultimedia">Оффлайн хранилище мультимедиа</a>
                            (видео
                            с youtube, веб страницы и т.д.)
                        </li>
                        <li><a href="https://github.com/Ivan1874/ParentalControl">Родительский контроль</a> для Windows
                        </li>
                        <li><a href="https://github.com/Ivan1874/TestModule">Программа для создания тестов</a></li>
                        <li>Валюта чата в Telegram (бот) - пока что не доступен</li>
                        <li>Расширения ботов - модуль для python, устанавливающийся как дополнение к библиотеке
                            (python-telegram-bot, telethon), позволяющий быстро реализовать аналитику, обратную связь и
                            т.д.
                        </li>
                    </ul>
                </div>
                <p>Сервисы у меня на сервере:</p>
                <ul>
                    <li><a href="https://pwd.ivan1874.dynu.net">pwd.ivan1874.dynu.net</a> - Bitwarden</li>
                    <li><a href="https://cloud.ivan1874.dynu.net">cloud.ivan1874.dynu.net</a> - Nextcloud</li>
                    <li><a href="https://git.ivan1874.cf">git.ivan1874.cf</a> - Gitea</li>
                </ul>
                <p>Чужие проекты на моем сервере:</p>
                <ul>
                    <li><a href="https://tiuto.ru/">https://tiuto.ru/</a></li>
                    <li><a href="https://thedise.ru/">Файлы DMGC, Instander</a></li>
                    <li><a href="https://build.ivan1874.cf/builds/">Alpaca kernel для Mi 8 Lite</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
